<div class="container" style="width: 100%;">
    <div style="background-color:black ;">
                <div class="text-center"style="color:white">
                    <h1> Register a Doctor</h1>                    
                    <hr>
                </div>
                <div>
                    <img src="../../assets/images/femaleDoctor.png" style="width:100%; height: 100%;" alt="fDoc">
                </div> <br><br>
                <div>
                <button (click)="onRegister()" class="btn btn-success" style="width:100% ;">
                    Register
                </button></div><br>
                <div>
                <button (click)="onlog()" class="btn btn-success" style="width:100% ;" >
                    Login
                </button></div><br><br>
                <div>
                <button (click)="ondoc()" class="btn btn-primary" style="width: 100%;">
                    View Doctors
                </button></div>
            </div>
        </div>
   


